<section class="col-md-8">
  <h1>Total: {{checkout.totalCost | currency}}</h1>
  <table ng-show="checkout.cart.items.length" class="table">
    <thead>
      <th>Item</th>
      <th>Quantity</th>
      <th>Options</th>
    </thead>

    <tbody ng-repeat="item in checkout.cart.items" ng-show="checkout.cart.items.length">
      <tr ng-show="item.quantity">
        <td>{{item.name}}</td>
        <td>
          <span ng-hide="edit">{{item.quantity}}</span>
          <span ng-show="edit">
            <input type="number"
              ng-value="item.quantity"
              ng-model="editQuantity">
          </span>
        </td>
        <td>
          <button ng-click="checkout.removeItem($index)" class="btn btn-lg btn-danger">Remove</button>
          <button ng-click="edit = true"
                  ng-show="edit === false"
                  ng-init="edit = false"
                  class="btn btn-lg btn-warning">
            Edit Quantity
          </button>
          <button ng-show="edit"
                  ng-click="checkout.editCost(item,edit)"
                  class="btn btn-lg btn-success">
            Apply
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <h1 ng-hide="checkout.cart.items.length">No items in your cart, dude!</h1>

  <a href="/" class="btn btn-lg btn-primary">Go back.</a>
</section>
